* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
@font-face {
  font-family: "customFont";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "customFontBold";
  src: url("assets/fonts/static/HankenGrotesk-Bold.ttf");
}
.overall-content {
  width: 100vw;
  height: 100vh;
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 650px;
  height: 450px;
  background-color: white;
  display: flex;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  font-family: "customFont";
}
.result {
  width: 50%;
  height: 100%;
  color: white;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  opacity: 70%;
}
.circle {
  width: 185px;
  height: 185px;
  align-content: center;

  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
}
.content {
  margin-top: auto;
  margin-bottom: 45px;
  font-weight: 400;
}
p {
  font-size: 17px;
  font-weight: 400;
  margin-top: 10px;
  opacity: 70%;
}

.summary {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 40%;
}

.summary button {
  margin-top: 20px;
  background-color: hsl(224, 30%, 27%);
  height: 50px;
  width: 100%;
  border-radius: 26px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  font-family: "customFont";
}
.items {
  margin-top: 20px;
  padding-left: 25px;
  height: 45px;
  border-radius: 13px;
}
.item1 {
  display: flex;
  justify-content: space-between;
  background-color: hsla(0, 100%, 67%, 8%);
  color: hsl(0, 100%, 67%);
}
.item2 {
  display: flex;
  justify-content: space-between;
  background-color: hsla(39, 100%, 56%, 8%);
  color: hsl(39, 100%, 56%);
}
.item3 {
  display: flex;
  justify-content: space-between;
  background-color: hsla(166, 100%, 37%, 8%);
  color: hsl(166, 100%, 37%);
}
.item4 {
  display: flex;
  justify-content: space-between;
  background-color: hsla(234, 85%, 45%, 8%);
  color: hsl(234, 85%, 45%);
}
ul h1 {
  font-size: 60px;
}
.content h2 {
  opacity: 90%;
}
.num {
  opacity: 45%;
}

li img {
  padding-top: 10px;
  width: 20px;
  height: 20px;
}
li p {
  font-family: "customFontBold";
  margin-right: auto;
  padding-left: 15px;
}

.items h2 {
  margin-top: 20px;
}
.score {
  font-family: "customFontBold";
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}
b {
  font-size: 20px;
  color: hsl(224, 30%, 27%);
  font-family: "customFontBold";
}
a {
  opacity: 60%;
}
.score1 {
  margin-left: 15px;
}
